@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");

$bg-home: #003153;
$bg-pokemon: #fecc3d;
$bg-favorites: #f6f6f6;
$white-color: #ededed;
$primary-font: "Rowdies", cursive;
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: $primary-font;
}
button {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}
a {
  text-decoration: none;
  color: $white-color;
  &:visited {
    color: $white-color;
  }
}
.hide {
  display: none;
}
.page {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.home {
  z-index: 5;
  background-color: $bg-home;
  display: grid;
  place-items: center;
  &__logo {
    margin: 0 auto;
    width: 100%;
  }
  &__button {
    margin: 0 auto;
    width: 19.5vw;
    height: 5vw;
    background-color: #154273;
  }
  &__container {
    font-size: 2vw;
    color: $white-color;
    width: 40vw;
    text-align: center;
    img {
      width: 100%;
    }
  }
}
.pokemon {
  z-index: 4;
  background-color: $bg-pokemon;
}
.favorites {
  z-index: 1;
  overflow: hidden;
  background-color: $bg-favorites;
  text-align: center;
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 400px;
    padding: 0 5vw;
    grid-gap: 1vw;
    // div:nth-child(2n) {
    //   background-color: green;
    //   margin-top: 20px;
    // }
  }
  .favorite-item {
    position: relative;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 400px;
    background-color: gray;
    transition: width 0.4s;
    button {
      background: white;
      border-radius: 20px;
      padding: 1em;
      color: black;
      cursor: pointer;
    }
    &:hover {
      .favorite-item__overlay {
        opacity: 1;
      }
    }
    &__overlay {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #0000007a;
      z-index: 1;
      display: grid;
      place-items: center;
    }
    &__title {
      width: 100%;
      bottom: 0;
      height: 20%;
      font-size: 3vw;
      line-height: 6vw;
      color: $white-color;
      background-color: #ac0f0f;
    }
    &__img {
      height: 80%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      img {
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__container {
    transform: rotate(0);
    overflow: scroll;
    width: calc(100vw + 20px);
    height: calc(100vh + 20px);
  }
  &__scrollbar {
    width: 20px;
    height: 100px;
    position: fixed;
    top: calc(100vh - 200px);
    right: 20px;
    background-color: yellow;
  }
}
.pokeball {
  position: absolute;
  top: -10vw;
  right: calc(50vw - 10vw);
  width: 20vw;
  height: 20vw;
  transform: rotate(-90deg);
}
.slideUp {
  animation-name: slideUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes slideUp {
  100% {
    transform: translateY(-100%);
  }
}
.slideDown {
  animation-name: slideDown;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  .twist {
    animation-name: twistClockWise;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}
@keyframes slideDown {
  100% {
    transform: translateY(100%);
  }
}
@keyframes twistClockWise {
  100% {
    transform: rotate(0deg);
  }
}
@keyframes twistAntiClockWise {
  100% {
    transform: rotate(-90deg);
  }
}
.slideFromBottom {
  transform: translateY(100%);
  animation-name: slideFromBottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  .twist {
    animation-name: twistAntiClockWise;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}
@keyframes slideFromBottom {
  100% {
    transform: translateY(0%);
  }
}
.cuadro {
  width: 50px;
  height: 1300px;
  background-color: black;
}
.carousel {
  position: absolute;
  top: 150px;
  width: 100vw;
  height: 36vw;
  margin: 0 auto;
  overflow: hidden;
  &__button {
    position: absolute;
    top: 25%;
    width: 80px;
    z-index: 1;
    button {
      cursor: pointer;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__button--right {
    right: 0;
  }
  &__button--left {
    left: 0;
  }
  &__strip {
    display: grid;
    grid-gap: 4vw;
    padding: 0 4vw;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - 16vw) / 3);
    width: 100%;
    height: 100%;
    transition: 0.3s;
    transform: translateX(-1px);
  }
}

.carousel-element {
  position: relative;
  margin-top: 10%;
  height: 75%;
  width: 100%;
  transition: 0.1s;
  background-color: #c4c4c4;
  border: 5px solid black;
  &--selected {
    background-color: #636363;
  }
  &__imagen {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5em;
    opacity: 0;
    font-size: 2.7vw;
    text-align: center;
    text-transform: capitalize;
  }
}
.carousel-element--expand {
  height: 88%;
  margin-top: 10%;
  .carousel-element__imagen {
    margin-top: -10%;
  }
  .carousel-element__title {
    opacity: 1;
  }
}

.pokeball-border {
  position: absolute;
  top: -60px;
  right: 0;
  left: 0;
  height: 60px;
  img {
    width: 100%;
    height: 100%;
  }
}
